<header id="header">
  <main id="main" class="d-flex align-items-center justify-content-center vh-100">
    <div id="container" class="container">
      <div id="card" class="card bg-glass">
        <div id="card-body" class="card-body px-4 py-5 px-md-5">
          <form id="login-form" name="login-form">
            <h3 id="login-heading" class="text-center text-primary px-1 py-1 px-md-1">Login</h3>
            <div id="username-group" class="form-group mb-2">
              <label id="username-label" for="username" class="text-primary mb-2">Usuario:</label>
              <input type="text" name="username" id="username" class="form-control px-1 py-1 px-md-1">
            </div>
            <div id="password-group" class="form-group">
              <label id="password-label" for="password" class="text-primary mb-2">Senha:</label>
              <input type="text" name="password" id="password" class="form-control m-auto">
            </div>
            <div id="button-group" class="form-group m-auto d-flex">
              <button type="button" id="login-button" class="m-auto mt-4 btn btn-outline-primary btn-sm col-md-5">ENTRAR</button>
              <button type="button" id="register-button" class="m-auto mt-4 btn btn-outline-primary btn-sm col-md-5">REGISTRE-SE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</header>
